framework:
    messenger:
        failure_transport: 'failed'

        transports:
            sync: 'sync://'
            async: '%env(MESSENGER_TRANSPORT_DSN)%'
            failed: 'doctrine://default?queue_name=failed'
        routing:
            # Commands should be async
            'App\Inventory\Application\Command\*': async
            # Queries should be sync
            'App\Inventory\Application\Query\*': sync
        default_bus: command.bus
        buses:
            command.bus:
                middleware:
                    - doctrine_transaction
            query.bus:
                middleware:
                    - doctrine_ping_connection
