name: FastReserve CI

on:
    push:
        branches:
        - main
    pull_request:
        branches: ["main"]
jobs:
    quality:
        name: Code Quality Checks
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
                  tools: composer:v2
                  coverage: none

            - name:  Install Dependencies
              run: composer install --no-progress --prefer-dist

            - name: Check Code Style
              run: composer check-style

            - name: Run Static Analysis
              run: vendor/bin/phpstan analyse src --memory-limit=1G

